* {
  font-family: helvetica;
  color: #282828;
}

#navbar {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
}

#navbar ul li {
  margin-left: 1rem;
}

h1 {
  text-align: center;
}

.form,
.books-container {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weigth: bold;
  margin-bottom: 0.3rem;
}

.form-control input {
  padding: 5px;
}

.link {
  color: #3662bc;
}

.link-back {
  display: flex;
  margin-top: 1rem;
  color: #3662bc;
}
