<h1>Cadastre o seu livro:</h1>
<form action="/books/insertbook" method="POST" class="form">
  <div class="form-control">
    <label for="title">Titulo</label>
    <input type="text" name="title" placeholder="Digite o titulo do livro" required="true">
  </div>
  <div class="form-control">
    <label for="pageqty">Número de páginas</label>
    <input type="number" name="pageqty" placeholder="Quantas páginas o livro tem?" required="true">
  </div>
  <input type="submit" value="Cadastrar">
</form>